AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_DEFAULT_REGION=us-west-2

INPUT_S3_URI=s3://safecastops-us-west-2/lego
INPUT_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
INPUT_ACCEPT_TOS=true
INPUT_EMAIL=...
